@charset "utf-8";
/*header*/
.header{width: 100%;min-width:800px;margin-top: -20px;z-index: 8;}
.mainNav{width: 1200px;position: absolute;left: 50%;margin-left: -600px;z-index: 8;}
.logo{float: left;margin-top: 60px;}
.navUl {margin-top: 45px;}
.navUl > li{float: left;line-height: 60px ;font-size: 18px;position: relative;}
.navUl > li > a{color: #fff;display: block;padding-left: 20px;padding-top: 20px; padding-right: 20px;padding-bottom: 14px; transition:all 0.5s;text-align: center;text-decoration: none;}
.navUl > li:hover > a{background: #2fc5e4;}
/*二级菜单属性及动画*/
.submenu{background:#fff;width: 1050px;position: absolute;top:94px;left:50%;margin-left:-350px;border-radius: 10px;overflow: hidden;display: none;}
.submenul{float: left;text-align: center;line-height: 20px;font-size: 14px;margin-left: 23px;}
.submenu.menuShow{display: block;animation: Ani 0.5s both;transform-origin: top center ;}

.submenu a{color:#000000;display: block;text-align: center;font-size: 14px;transition:all 0.5s;}
.submenu li{color: #FF0004;z-index: 8;}
/*搜索框属性*/
.containerl {height: 40px;width: 300px; margin-top: 80px;margin-left: 620px;}
.search {width: 300px;height: 30px;border-radius: 18px;outline: none;border: 1px solid #FFFFFF;padding-left: 20px;position: absolute;background: hsla(0,0%,0%,0.00);z-index: 8;}
.sousuo {height: 30px;width: 30px; background:url(../images/ss.png); top:60px;float: right; border: none;outline: none;z-index: 9;}
/*搜索框下的推荐商品*/
.ssts{float: left;width: 300px;height: 420px;background:#FFFFFF;margin-left: 10px; margin-top: 5px;display:none;z-index: 8;}
.sstx{float: left;width: 300px;height: 420px;background:#FFFFFF;margin-left: 10px;margin-top: 5px;display: block;z-index: 8;}
.sstsk{font-size: 14px;line-height: 40px;margin-left: 15px;}
.sstsk a{color: #000000;}
/*登录和注册*/
.header-img{float: right;margin-top: -37px;}
.img{float: left;}
.img{margin-left: 10px;margin-right: 20px;}
.img li{float: left;}
.img li a{color: white;padding-left: 10px;}
/*banner*/
.banner{position: relative;width: 2400px;height: 800px;margin-top: -60px;left: 50%;margin-left: -1200px;overflow: hidden;}
.sml {width: 9999px;height: 800px;transition:all 0.5s;z-index: 1;}
.sml li{float: left;width: 2400px;height: 800px;overflow: hidden;}
/*三个圆圈*/
.banner .num{width: 200px;position: absolute;left: 50%;bottom: 100px;margin-left: -40px;}
.banner .num ul li{ float: left;width: 20px;height: 20px; border-radius: 20px; background:#FFFFFF; margin-right: 10px;text-indent: 999em;}
.banner .num ul li:hover{cursor: pointer;}
/*上一页 下一页符号*/
.arrow{
	position: absolute;
	width: 1920px;
	height: 80px;
	font-size: 80px;
	font-family: "宋体";
	font-weight:bold;
	color: white;
	left: 50%;
	margin-left: -960px;
	bottom: 400px;
	display: none;	
}
/*点击banner，显示图标*/
.banner:hover .arrow{display: block; }
/*上一页 下一页符号定位*/
.arrow-left{float: left;margin-left: 340px; display: inline-block;cursor: pointer;}
.arrow-right{float: left;margin-left: 1100px; display: inline-block;cursor: pointer;}

/*选项卡板块*/
.tuijian{height: 63px;width: 1200px;z-index: 8;margin-top: 40px;margin-left: 37px;}
.xuanxiangka{width: 452px;height: 63px;opacity: 0;transform: translateY(100px);margin-left: 386px;}
.xuanxiangka1{width: 452px;height: 63px;margin-left: 386px;}
.xuanxiangka ul li{float: left;margin-right: 30px;cursor:pointer;}
.xuanxiangka1 ul li{float: left;margin-right: 30px;cursor:pointer;}
.li1{font-size: 28px;color: #8a8888;margin-top: 10px;transition:all 0.5s;}
.li2{font-size: 36px;color: #000;border-bottom: 3px solid #000000; transition:all 0.5s;}

.xmimg{width: 1200px;height: 633px;}
.left-img{float: left;width: 529px;height: 593px;background: #f7f7f7;margin-top: 20px;margin-left: 20px;}
.left-img:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.left-img img{margin-top:76px;}
.left-img li{text-align: center;}
.left-img li a{color: black;font-weight:bold;}
.right-bg{float: left; margin-left:24px;margin-top: 20px;  width: 251px;height: 285px;background: #f7f7f7;}
.right-bg:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.right-bg img{margin-top: 40px;}
.right-bg li{text-align: center;}
.right-bg li a{color: black;font-size: 12px;}

.xuanxiangbanner{width: 1200px;overflow: hidden;opacity: 0;transform: translateY(100px); }
.xuanxiangbanner1{width: 1200px;overflow: hidden;}
.xuanxiangsml{width: 9999px;transition:all 0.5s;}
.xuanxiangsml .xmimg{float: left;width: 1200px;overflow: hidden;}


/*手机板块*/
.bg-sj{float: left;width: 100%;height: 900px; background: #F5F5F5;margin-top: -5px;}
.title1{width:100%;background: #f3f6ff; margin-top: 750px;display: block;text-align: center;}
.title2{float: left;opacity: 0;transform: translateY(100px);}
.title21{float: left;}
.goodss{margin-top: 30px;}
/*手机板块 8个子模块*/
.goods{opacity: 0;transform: translateY(100px);}
.goodsl{float: left;text-align: center; line-height: 30px;font-size: 18px;width: 229px;height: 301px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goodsl:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.goodsl li{color: #FF0004;text-align: center;}
.goodsl li img{margin-top: 31px;}
.goodsl a{color:#000000;}

/*三个手机样式*/
.title-sj3 {float: left;width: 1200px;margin-top: 30px;margin-bottom: 30px;}
.title-sj3action{opacity: 0;transform: translateY(100px);}
.title-sj3 li{float: left;margin-left: 50px;}
.title-sj3 li span{position: absolute;color: white;margin-top: 0px; margin-left: 250px; display: none;transition:all 0.5s;}
.title-sj3 li:hover{transform: scale(1.2);transition:all 0.5s;}
.title-sj3 li:hover span{display: block; margin-top: -80px;}

/*智能家居板块*/
.titledq{float: left;width:100%;background: #e1f0f7;display: block;text-align: center;}
.dianqi-hezi{margin-top: 60px; opacity: 0;transform: translateY(100px);}
.sj01{float: left;left: 0px; margin-left: 5px; height: 800px;width: 120px;cursor:pointer;transition:all 0.5s;}
.sj01img{height: 800px;width: 700px;margin-left:120px;display: none;}
.sj01imgl{height: 800px;width: 700px;margin-left:120px;display: block;}
.sj02img{height: 800px;width: 700px;margin-left:120px;display: none;}
.sj02imgl{height: 800px;width: 700px;margin-left:120px;display: block;}
.sj03img{height: 800px;width: 700px;margin-left:120px;display: none;}
.sj03imgl{height: 800px;width: 700px;margin-left:120px;display: block;}
.sj04img{height: 800px;width: 700px;margin-left:120px;display: block;}
.sj04imgl{height: 800px;width: 700px;margin-left:120px;display: none;}
.sjbj1{background-image: url(../images/dq01.jpg);}
.sjbj2{background-image: url(../images/dq02.jpg);}
.sjbj3{background-image: url(../images/dq03.jpg);}
.sjbj4{background-image: url(../images/dq04.jpg);}

.goods1{float: left;width: 255px;height: 361px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goods2{float: left;width: 409px;height: 361px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goods3{float: left;width: 266px;height: 361px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goods4{float: left;width: 369px;height: 244px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goods5{float: left;width: 571px;height: 244px;background: #fff;margin-left: 10px;}
.goods5 li{float: left;}
.goods5 li{color: #FF0004;font-size: 18px;}
.goods5 a{color:#000000;}
.goods5-words{margin-top: 133px;margin-left: 27px;}
.goods5-money{margin-top: 166px;margin-left: -40px;}
.goods1 img{margin-top: 66px;}
.goods2 img{margin-top: 56px;}
.goods3 img{margin-top: 10px;}
.goods5 img{margin-left: 23px; margin-top: 9px;}
.goodsy:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.goods5:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.goodsy li{color: #FF0004;text-align: center;font-size: 18px;}
.goodsy a{color:#000000;}

/*配件板块*/
.bg-pj{float: left;width: 100%;height: 1100px; background: #F5F5F5;margin-top: -5px;}
.goodsx{float: left;text-align: center; line-height: 30px;font-size: 18px;width: 228px;height: 615px;background: #fff;margin-left: 10px;margin-bottom: 10px;}
.goodsx:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transition:all 0.5s;}
.goodsx li img:hover{transform: scale(1.1);transition:all 0.5s;}
.goodsx li{color: #FF0004;text-align: center;}
.goodsx li img{margin-top: 91px;}
.goodsx a{color:#000000;}
/*配件下三个板块*/
.dibuxuanxiang{float: left;width: 1200px;height: 105px;margin-top: 54px;}
.dibuxuanxiang ul{float: left;width: 288px;height: 98px;background:#fff;border-radius: 10px;margin-left: 80px;cursor:pointer;}
.dibuxuanxiang ul:hover{-moz-box-shadow:0px 0px 20px #B3B3B3; -webkit-box-shadow:0px 0px 20px #B3B3B3; box-shadow:0px 0px 20px #B3B3B3;transform: scale(1.1);transition:all 0.5s;}
.dibuxuanxiang .dbxx{margin-top: 35px;margin-left: 72px;font-size: 24px;}
.dibuxuanxiang ul img{float: right;margin-top: -33px;margin-right: 35px;}
/*底部*/
.footer{float: left;height: 348px;}
.footer-title{float: left;width: 1096px;height: 145px;position: absolute;left: 50%;margin-left: -548px;border-bottom: 2px solid #bfbfbf;}
.footer-title ul{float: left;margin-left: 120px;margin-top: 40px;text-align: center;font-size: 13.8px;cursor:pointer;}
.footer-title ul img:hover{transform: scale(1.2);transition:all 0.5s;}
.footer-title2{width: 1096px;height: 138px;position: absolute;left: 50%;margin-left: -548px;margin-top: 180px;}
.footer-title2 ul{float: left;margin-left: 133px;text-align: center;font-size: 14px;color: #8c8c8c;line-height: 35px;cursor:pointer;}
.footer-title2 ul li:hover{color: #2fc5e4;}
.footer-text{float: left;width: 100%;height: 30px; text-align: center;margin-top: 330px;font-size: 14px;}


/*动画*/
 .yundong .xuanxiangka{
   animation: Ani 0.5s both;
}
.yundong .xuanxiangbanner{
   animation: Ani 0.5s 0.3s both;
}


.yundong .title-sj3{
   animation: Ani 0.5s  both;
} 
.yundong .title2{
   animation: Ani 0.5s 0.3s both;
}
.yundong .goods{
   animation: Ani 0.5s 0.3s both;
}
.yundong .dianqi-hezi{
   animation: Ani 0.5s 0.3s both;
}




