@charset "utf-8";
*{margin:0; padding:0;}
body{overflow:scroll;
	overflow-x:hidden;}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border:0;
}

.big_section{width:100%;}
.section{width:1200px;position: absolute;left: 50%;margin-left: -600px;}

.clearfix:after{
	clear:both;
	height:0;
	line-height:0;
	overflow:hidden;
	font-size:0;
	content:".";
	display:block;
}

.clearfix{
	*zoom:1;
}

@keyframes Ani  {
0%{opacity: 0;transform: translateY(100px);}
100%{opacity: 1;transform: translateY(0px);}
}
button{outline: none;}
input{outline: none;}

::-webkit-input-placeholder{font-size: 14px; color:white;} 