// header,section,footer{
//     // height: 200px;
// }
html{font-family: none;}
ul,li,ol{
    list-style: none;
}
section{ width:1200px; margin: 0 auto;}
p{line-height: 20px;}

//导航
.logo {
    position: absolute;
    top: 10px;
    left: 30px;
}

.nav-all {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 50px;
}

.nav-all .header {
    height: 50px;

}

.nav-all .header .nav-list {
    float: right;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 111;

}

.nav-all .header .nav-list li {
    float: left;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.nav-all .header .nav-list .mo {
    color: #f39800;
    font-weight: 800;
}

.nav-all .header .nav-list li:first-child {
    text-align: right;
}

.nav-all .header .nav-list li:last-child {
    width: 24px;
    text-align: left;
}

.nav-all .header .nav-list li:nth-child(8) {
    width: 24px;
    text-align: left;
}

.nav-all .header .nav-list li a {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #000;
}

.nav-all .header .nav-list li .second-nav {
    width: 150px;
    display: none;
    position: relative;
    right: 50px;
}

.nav-all .header .nav-list li .second-nav li {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;

    text-align: center;

}

.nav-all .header .nav-list li .second-nav li .third-nav {
    position: absolute;
    width: 150px;
    display: none;
    margin-left: 100%;
    margin-top: -40px;

    padding: 0;
}

.nav-all .header .nav-list li .second-nav li .third-nav li {
    text-align: center;
    padding: 0;
}




//banner
.banner-img{width: 100%; position: relative;}
// .banner-img .container{position: absolute; top: 100px;}
.banner-img .container .news{position: absolute; top: 25%; left: 2%;}
// .banner-img .container .news img{width: 480px; height: ;}
.banner-img .container .tupian{position: absolute; top: 15%; left:30%;}
.banner-img .container .tupian img{width: 80%; height: 80%;}
.banner-img .container .date{position: absolute; top: 30%; left:60%;}
.banner-img .thumbnail{ background-color: rgba(0, 0, 0,0); border: 0px;}

//图片新闻
.img-news{height: 2179px; ;}

//内容 left
//1
.left-xian{ width: 260px; border-right:1.5px solid #a4c6e9 ; height: 2179px; float: left;}
.left-xian ul{padding-left: 0px;}
.left-li1{position: relative;opacity: 0;transform: translateY(100px);}
//制作窗口检测



.center-yy img{width: 90%; height: 90%;}
.center-yy{position: absolute; top: -50%;right: -220%; z-index: 2; }
.left-xian .yellow{width: 32px; height: 32px; border-radius:15px; background-color:rgba(255, 248, 73,0.71);
    position: absolute; top: -15px;left: -15px;;}
.left-li1-wenzi1{width: 260px;height: 170px; background-color: rgb(250, 249, 249);  position: absolute; bottom: -100px; left: 260px;
 padding: 30px; font-family: "微软雅黑";font-size: 12px; color: #3764b3; letter-spacing:1.5px; line-height: 20px;}
 .yinchang {opacity: 0;transform: translateY(100px);

 }

 #wenzi-date{position: absolute; bottom: -90px; left: 420px; font-family: "微软雅黑";font-size: 12px; color: #3764b3;}

//2
.left-li2{width: 520px; height: 160px; background-color: #fef14b; margin-top: 172px;position: relative; }
.left-li2{opacity: 0;transform: translateY(100px);}

.left-xian li:hover{transform: scale(1.2);transition:all 0.5s;cursor:pointer;  }
.left-li2-wenzi1{padding: 30px; padding-top: 40px; font-family: "微软雅黑";font-size: 14px; color: #003b93; letter-spacing:1.5px;}
.left-li2 .next{position: absolute; right: 40px; }
//3
.left-li3{width: 520px; height: 160px; background-color: #0c4b90; margin-top: 72px;position: relative;}
.left-li3{opacity: 0;transform: translateY(100px);}
.left-xian .left-li3:hover{transform: scale(1.05);transition:all 0.5s;cursor:pointer;}
.left-li3-wenzi1{padding: 30px; padding-top: 30px; font-family: "微软雅黑";font-size: 14px; color: #ffffff; letter-spacing:1.5px;}
.left-li3 .next{position: absolute; right: 40px; top: 77%;}
//4
.left-li4{position: relative; margin-top: 72px;}
.left-li4{opacity: 0;transform: translateY(100px);}

.left-li4-wenzi1{width: 260px;height: 170px; background-color: rgb(250, 249, 249);  position: absolute; bottom: -100px; left: 260px;
 padding: 30px; font-family: "微软雅黑";font-size: 12px; color: #3764b3; letter-spacing:1.5px;}
//5
.left-li5{width: 520px; height: 160px; background-color: #0c4b90; margin-top: 172px;position: relative;}
.left-li5{opacity: 0;transform: translateY(100px);}
.left-xian .left-li5:hover{transform: scale(1.05);transition:all 0.5s;cursor:pointer;
}
.left-li5-wenzi1{padding: 30px; padding-top: 30px; font-family: "微软雅黑";font-size: 14px; color: #ffffff; letter-spacing:1.5px;}
.left-li5 .next{position: absolute; right: 40px; top: 77%;}

//6
.left-li6{width: 520px; height: 160px; background-color: #fef14b; margin-top: 72px;position: relative;}
.left-li6{opacity: 0;transform: translateY(100px);}
.left-xian .left-li6:hover{transform: scale(1.05);transition:all 0.5s;cursor:pointer;
}
.left-li6-wenzi1{padding: 30px; padding-top: 40px; font-family: "微软雅黑";font-size: 14px; color: #003b93; letter-spacing:1.5px;}
.left-li6 .next{position: absolute; right: 40px; }

//内容right
.right-xian{ width: 260px; border-left:1.5px solid #a4c6e9 ; height: 2179px; float:right;}
.right-xian ul{padding-left: 0px; float: right;}
.right-li1{position: relative;}
.right-xian .yellow{width: 32px; height: 32px; border-radius:15px; background-color:rgba(255, 248, 73,0.71);
    position: absolute; top: -15px;left: -15px;;}
.right-xian .img-new{ position: absolute; top: 0px; left: -68px; }
.right-li1{opacity: 0;transform: translateY(100px);}
//2
.right-li2{position: relative; margin-top: 72px;}
.right-li2{opacity: 0;transform: translateY(100px);}
.right-li2-wenzi1{width: 260px;height: 170px; background-color: rgb(250, 249, 249);  position: absolute; bottom: -100px; left: 262px;
 padding: 30px; font-family: "微软雅黑";font-size: 12px; color: #3764b3; letter-spacing:1.5px;}
 //3
.right-li3{position: relative; margin-top: 172px;}
.right-li3{opacity: 0;transform: translateY(100px);}
.right-li3-wenzi1{width: 260px;height: 170px; background-color: rgb(250, 249, 249);  position: absolute; bottom: -100px; left: 262px;
 padding: 30px; font-family: "微软雅黑";font-size: 12px; color: #3764b3; letter-spacing:1.5px;}
  //3
.right-li4{position: relative; margin-top: 172px;}
.right-li4{opacity: 0;transform: translateY(100px);}
.right-li4-wenzi1{width: 260px;height: 170px; background-color: rgb(250, 249, 249);  position: absolute; bottom: -100px; left: 262px;
 padding: 30px; font-family: "微软雅黑";font-size: 12px; color: #3764b3; letter-spacing:1.5px;}




//footer
.footer{ width: 100%; height: 300px; background-color:  #08355f; position: relative;top: 0px; margin-right: 0px;}
.bangzhu{ width: 100px; height: 200px; padding-top: 20px; float: left; text-align: center; margin-left: 130px; color: #ffffff;}
.bangzhu h3{font-size: 18px;}
.bangzhu p{font-size: 14px;}
.bangzhu-center{position: relative; left: 80px;}
.lianjie{position: absolute; top: 280px; left: 300px; font-size: 12px; color: #ffffff;}

//回到顶部
.return {
    display: none;
    position: fixed;
    width: 54px;
    left: 50%;
    margin-left: 680px;
    bottom: 50px;
    z-index: 1001;
}

.return .glyphicon {
    font-size: 30px;
}



.yundong{
    animation: Ani 0.8s both;
 }


 @keyframes Ani{
    0%{opacity: 0;transform: translateY(100px);}
    100%{opacity: 1;transform: translateY(0px);}
}





@media (max-width:767px){
    .nav-all .header .nav-list li {
        width: 60px;
        font-size: .95rem;
    }
}


@media (max-width:768px){
    .banner-img .container .tupian img{width: 50%; height:50%;}
    .banner-img .container img{width: 17%; height: 17%;}
// boby{width: 768px; overflow: hidden;}
    section{ width:484px; margin: 0 auto; }
    //header
    .nav-all .header .nav-list {
        display: none;
    }
    
    
    .img-news{height: 1600px; ;}
    .left-xian{  height: 1600px; }
    .right-xian{  height: 1600px; }
 
    //banner
    //left
    .left-xian{ width: 100px; }

    .left-xian a img{width: 200%; height: 200%;}
    //小新闻
    .left-li1-wenzi1,.left-li4-wenzi1{width: 100px;height: 160px;  position: absolute; bottom: -140px; left: 100px;
      padding: 8px;font-size: 10px;  color: #3764b3; letter-spacing:1.5px; line-height: 15px;}
      #wenzi-date{position: absolute; bottom: -140px; left: 130px; font-family: "微软雅黑";font-size: 10px; color: #3764b3;}

//left板块新闻
//1
    .left-li2{width: 200px; height: 160px; background-color: #fef14b; margin-top: 172px;position: relative;}
    .left-li2-wenzi1{padding: 10px;  padding-top: 30px; font-family: "微软雅黑"; font-size: 12px; color: #003b93;  letter-spacing:1px;  }
   .left-li2 .next{position: absolute; right: 20px; top: 120px; }

   //2
   .left-li3{width: 200px; height: 160px; background-color: #0c4b90; margin-top: 72px;position: relative;}
.left-li3-wenzi1{padding: 10px; padding-top:15px;  font-family: "微软雅黑";font-size: 12px; color: #ffffff; letter-spacing:1px; line-height: 15px; }
.left-li3 .next{position: absolute; right: 20px; top: 77%;}
//5
.left-li5{width: 200px; height: 160px; background-color: #0c4b90; margin-top: 172px;position: relative;}
.left-li5-wenzi1{padding: 10px; padding-top: 15px;  font-family: "微软雅黑";font-size: 12px; color: #ffffff; letter-spacing:1px; line-height: 15px; }
.left-li5 .next{position: absolute; right: 20px; top: 77%;}

//6
.left-li6{width: 200px; height: 160px; background-color: #fef14b; margin-top: 72px;position: relative;}
.left-li6-wenzi1{padding: 10px; padding-top: 30px; font-family: "微软雅黑";font-size: 12px; color: #003b93; letter-spacing:1px;}
.left-li6 .next{position: absolute; right: 20px; top: 120px; }


    //right
    .right-xian .img-new img{width: 60%; height: 60%; }
    .right-xian .img-new{position: absolute; top: 0px; left:-40px;}
    .right-xian{ width: 100px;}
    .right-xian a img{width: 200%; height: 200%;}
    .right-xian ul{width: 100px; }
    .right-xian ul li{position: relative; left: -100px;}
//小新闻
.right-li2{position: relative; margin-top: 72px;}
.right-li2-wenzi1,.right-li3-wenzi1,.right-li4-wenzi1{width: 100px;height: 160px;  position: absolute; bottom: -140px; left: 102px;
    padding: 8px;font-size: 10px;  color: #3764b3; letter-spacing:1.5px; line-height: 15px;}
//3
.right-li3{position: relative; margin-top: 172px;}

//4
.right-li4{position: relative; margin-top: 172px;}

//footer
.footer{ width: 100%; height: 300px; background-color:  #08355f; position: relative;top: 0px; margin-right: 0px;}
.bangzhu{ width: 80px; height: 200px; padding-top: 20px; float: left; text-align: center; margin-left: 15px; color: #ffffff;}
.bangzhu h3{font-size: 14px;}
.bangzhu p{font-size: 12px;}
.bangzhu-center{position: relative; left: 42px;}
.lianjie{position: absolute; top: 280px; left: 0px; font-size: 12px; color: #ffffff;}

}

@media (min-width:768px) and (max-width:991px){
    .banner-img .container .tupian img{width: 50%; height:50%;}
    .banner-img .container img{width: 17%; height: 17%;}

    section{ width:700px; margin: 0 auto; }
    .img-news{height: 1800px; ;}
    .left-xian{  height: 1800px; }
    .right-xian{  height: 1800px; }
    //banner
    //left
    .left-xian{ width: 150px; }

    .left-xian a img{width: 200%; height: 200%;}
    //小新闻
    .left-li1-wenzi1,.left-li4-wenzi1{width: 150px;height: 170px;  position: absolute; bottom: -100px; left: 150px;
      padding: 20px;font-size: 10px;  color: #3764b3; letter-spacing:1.5px; line-height: 20px;}
      #wenzi-date{position: absolute; bottom: -100px; left: 220px; font-family: "微软雅黑";font-size: 10px; color: #3764b3;}

//left板块新闻
//1
    .left-li2{width: 300px; height: 160px; background-color: #fef14b; margin-top: 172px;position: relative;}

    

    .left-li2-wenzi1{ padding-top: 50px; font-family: "微软雅黑"; font-size: 12px; color: #003b93;  letter-spacing:1px;   }
   .left-li2 .next{position: absolute; right: 30px; top: 120px; }

   //2
   .left-li3{width: 300px; height: 160px; background-color: #0c4b90; margin-top: 72px;position: relative;}
.left-li3-wenzi1{padding: 20px; padding-top: 20px; font-family: "微软雅黑";font-size: 12px; color: #ffffff; letter-spacing:1px;}
.left-li3 .next{position: absolute; right: 30px; top: 77%;}
//5
.left-li5{width: 300px; height: 160px; background-color: #0c4b90; margin-top: 172px;position: relative;}
.left-li5-wenzi1{padding: 20px; padding-top: 20px; font-family: "微软雅黑";font-size: 12px; color: #ffffff; letter-spacing:1px;}
.left-li5 .next{position: absolute; right: 40px; top: 77%;}

//6
.left-li6{width: 300px; height: 160px; background-color: #fef14b; margin-top: 72px;position: relative;}
.left-li6-wenzi1{padding: 20px; padding-top: 50px; font-family: "微软雅黑";font-size: 12px; color: #003b93; letter-spacing:1px;}
.left-li6 .next{position: absolute; right: 30px; top: 120px; }


    //right
    .right-xian .img-new img{width: 70%; height: 70%; }
    .right-xian .img-new{position: absolute; top: 0px; left:-47px;}
    .right-xian{ width: 150px;}
    .right-xian a img{width: 200%; height: 200%;}
    .right-xian ul{width: 150px; }
    .right-xian ul li{position: relative; left: -150px;}
//小新闻
.right-li2{position: relative; margin-top: 72px;}
.right-li2-wenzi1,.right-li3-wenzi1,.right-li4-wenzi1{width: 150px;height: 170px;  position: absolute; bottom: -100px; left: 152px;
  padding: 20px;font-size: 10px;  color: #3764b3; letter-spacing:1.5px; line-height: 20px;}
//3
.right-li3{position: relative; margin-top: 172px;}

//4
.right-li4{position: relative; margin-top: 172px;}

//footer
.footer{ width: 100%; height: 300px; background-color:  #08355f; position: relative;top: 0px;}
.bangzhu{ width: 100px; height: 200px; padding-top: 20px; float: left; text-align: center; margin-left: 35px; color: #ffffff;}
.bangzhu h3{font-size: 16px;}
.bangzhu p{font-size: 12px;}
.bangzhu-center{position: relative; left: 65px;}
.lianjie{position: absolute; top: 280px; left: 80px; font-size: 12px; color: #ffffff;}

}
@media (min-width:992px) and (max-width: 1200px) {
      section{ width:900px; margin: 0 auto; }
      //banner
      //left
      .left-xian{ width: 200px; }

      .left-xian a img{width: 200%; height: 200%;}
      //小新闻
      .left-li1-wenzi1,.left-li4-wenzi1{width: 200px;height: 170px;  position: absolute; bottom: -100px; left: 200px;
        padding: 20px;font-size: 12px;  color: #3764b3; letter-spacing:1.5px; line-height: 20px;}
        #wenzi-date{position: absolute; bottom: -90px; left: 310px; font-family: "微软雅黑";font-size: 12px; color: #3764b3;}

//left板块新闻
//1
      .left-li2{width: 400px; height: 160px; background-color: #fef14b; margin-top: 172px;position: relative;}
      .left-li2-wenzi1{ padding-top: 50px; font-family: "微软雅黑"; font-size: 14px; color: #003b93;  letter-spacing:1.5px;  }
     .left-li2 .next{position: absolute; right: 40px; top: 110px; }

     //2
     .left-li3{width: 400px; height: 160px; background-color: #0c4b90; margin-top: 72px;position: relative;}
.left-li3-wenzi1{padding: 30px; padding-top: 30px; font-family: "微软雅黑";font-size: 14px; color: #ffffff; letter-spacing:1.5px;}
.left-li3 .next{position: absolute; right: 40px; top: 77%;}
//5
.left-li5{width: 400px; height: 160px; background-color: #0c4b90; margin-top: 172px;position: relative;}
.left-li5-wenzi1{padding: 30px; padding-top: 30px; font-family: "微软雅黑";font-size: 14px; color: #ffffff; letter-spacing:1.5px;}
.left-li5 .next{position: absolute; right: 40px; top: 77%;}

//6
.left-li6{width: 400px; height: 160px; background-color: #fef14b; margin-top: 72px;position: relative;}
.left-li6-wenzi1{padding: 30px; padding-top: 40px; font-family: "微软雅黑";font-size: 14px; color: #003b93; letter-spacing:1.5px;}
.left-li6 .next{position: absolute; right: 40px; }

      //right
      .right-xian{ width: 200px;}
      .right-xian a img{width: 200%; height: 200%;}
      .right-xian ul{width: 200px; }
      .right-xian ul li{position: relative; left: -200px;}
//小新闻
.right-li2{position: relative; margin-top: 72px;}
.right-li2-wenzi1,.right-li3-wenzi1,.right-li4-wenzi1{width: 200px;height: 170px;  position: absolute; bottom: -100px; left: 202px;
    padding: 20px;font-size: 12px;  color: #3764b3; letter-spacing:1.5px; line-height: 20px;}
 //3
.right-li3{position: relative; margin-top: 172px;}

  //4
.right-li4{position: relative; margin-top: 172px;}

//footer
.footer{ width: 100%; height: 300px; background-color:  #08355f; position: relative;top: 0px;}
.bangzhu{ width: 100px; height: 200px; padding-top: 20px; float: left; text-align: center; margin-left: 72px; color: #ffffff;}
.bangzhu h3{font-size: 18px;}
.bangzhu p{font-size: 14px;}
.bangzhu-center{position: relative; left: 65px;}
.lianjie{position: absolute; top: 280px; left: 160px; font-size: 12px; color: #ffffff;}

}
@media (min-width:1200px){
    // section{ width:1200px; margin: 0 auto; }
}

